{% extends 'base.html' %}

{% block content %}
<div class="card mx-auto" style="width: 30rem;">
  <img src="{{ movie.poster_url }}" class="card-img-top" alt="#">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Black Han Sans', sans-serif;">{{ movie.title }}</h5>
    <p class="card-text" style="font-family: 'Black Han Sans', sans-serif;">{{ movie.title_en }}</p>
    <p class="card-text" style="font-family: 'Black Han Sans', sans-serif;">{{ movie.score}}</p>
  </div>
  <hr>
  <div>
    <p>장르 : {{ movie.genre}}</p>
    <p>관람객 수 : {{ movie.audience}}</p>
    <p>개봉일 : {{ movie.open_date}}</p>
    <p>줄거리 : {{ movie.description}}</p>
  </div>
  <hr>
  <div class="card-body">
    <a href="/movies/{{ movie.pk }}/delete/" class="btn btn-danger float-right " style="font-family: 'Jua', sans-serif;">영화 정보 삭제</a>
    <a href="/movies/{{ movie.pk }}/edit/" class="btn btn-success float-right" style="font-family: 'Jua', sans-serif;">영화 정보 수정</a>
    <a href="/movies/" class="btn btn-warning float-right" style="font-family: 'Jua', sans-serif;">영화 목록</a>
  </div>
</div>


{% endblock  %}