.logo {
  font-family: 'Do Hyeon', sans-serif;
}
.nav-item {
  font-size: 20px;
  font-family: 'East Sea Dokdo', cursive;


}
header {
  height: 350px;
  width: 100%;
  background-image: url(https://media.giphy.com/media/NnFZysBOEprAA/giphy.gif);
  background-position: center;
  background-color: rgb(138, 136, 136);
  background-size: cover;
  background-blend-mode: color-burn;
}
header:hover {
  background-blend-mode: initial;
}
.headwrite {
  position: relative;
  /* text-align: center; */
  font-family: 'Jua', sans-serif;
  color: whitesmoke;
  font-size: 3rem;
  text-align: center;
  line
  
  
}

.subtitle {
  font-family: 'Do Hyeon', sans-serif;
}

.card-body {
  font-weight: bold;
  
}
.card-body2 {
  font-weight: bold;
  font-size: 15px;
  font-family: 'Do Hyeon', sans-serif;
}
.btn {
  font-size: 15px;
}


.footer {
    height: 50px;
    width: 100%;
    padding: 0 3rem;
    line-height: 50px;
    
  
}

.pnt {
  cursor: pointer;
}

#myBtn {
  
  position: fixed; /* Fixed/sticky position */
  bottom: 5px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  font-size: 25px; /* Increase font size */
}

#myBtn:hover {
  color: #555; /* Add a dark-grey background on hover */
}