{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center mt-3">Movie recommendation</h1>
<div class="card bg-dark text-white">
  <img
    src="https://images.unsplash.com/photo-1507924538820-ede94a04019d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
    class="card-img" alt="#" style="height:350px; width:100%;">
  <div class="card-img-overlay">
    <a href="{% url 'movies:create' %}" class="btn btn-success float-right" style="font-family: 'Jua', sans-serif;" >새 영화 등록</a><br>
  </div>
</div>
<br>
<hr>

<div class="row">
{% for  movie in movies  %}
  <div class="col-4">
  
  <div class="card bg-light m-1">
    <img src="{{ movie.poster_url }}" class="card-img-top"  alt="포스터이미지" width="100px">
    <a href="{% url 'movies:detail' movie.pk %}" class="card-header" style="font-family: 'Jua', sans-serif;">{{ movie.title }}</a>
   
      <h5 class="card-body">{{ movie.score }}</h5>

  </div>

  </div>
{% endfor %}
</div>
 
{% endblock content %}
