<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  img {
    width: 300px;
    height: 300px;
  }
  </style>
</head>

<body>
  <div id="app">
  <button v-on:click="getDogImage">댕댕이 내놔</button>
  <button v-on:click="getCatImage">괭이 내놔</button>
  <img v-for="image in images" v-bind:src="image" alt="img" v-if='image'>
</div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el:'#app',
      data: {
        images :[], // 요청 받은 데이터를 넣어야하기 때문에 빈 문자열로 둠 
        
      },
      methods: {
        getDogImage : function() {
          const URL = 'https://dog.ceo/api/breeds/image/random'
          axios.get(URL)
            .then(response => {
              this.images.push(response.data.message)
            })
        },
        getCatImage : function() {
          const URL2 = 'https://api.thecatapi.com/v1/images/search'
          axios.get(URL2)
            .then(response =>{
              this.images.push(response.data[0].url)
            })

        }
      }
    })


//    const dogButton = document.querySelector('#dog')
//    dogButton.addEventListener('click', getDogImage)

//   const getCatImage = function() {
//     axios.get('https://api.thecatapi.com/v1/images/search')
//     .then(response=> {
//       const imgUrl2  = response.data[0].url
//       const imgTag2 = document.createElement('img')
//       imgTag2.src = imgUrl2
//       document.querySelector('.animals').append(imgTag2)
//     })
//     .catch(error => console.log(error))
//   }
//   const catButton = document.querySelector('#cat')
//   catButton.addEventListener('click', getCatImage)
</script>


</body>

</html>
